{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{% block title %}Just for Fun{% endblock %}</title>


<style>


 .nav-item:hover{
    background-color: #45A29E ;


}

    .nav-item{
        height: 70px;
        padding-top: 15px;
        text-align: center;

    }
    .nav-link:active{

        color: red;
    }


</style>
</head>

<body>
{#<h1>{{ brand_name }}</h1>#}
{% url "home" as home_url %}
{% url "contact" as contact_url %}
{% url "products:list" as product_list_url %}
{% url "pproducts:list" as pproduct_list_url %}
{% url "login" as login_url %}
{% url "logout" as logout_url %}
{% url "register" as register_url %}
{% url "cart:home" as cart_url %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style="height:90px;background-color:#C5C6C7" >
    <a class="navbar-brand">
          <img style="margin-left:30px;margin-top:2px" src="{%static 'img/logo.png'%}"alt="">
        </a>

        {% include "search/snippets/search_form.html" %}

</nav>
 <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style=" background-color:#C5C6C7;height:40px" >
     <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 20%">
      <li class="nav-item active">
        <a class="nav-link" style="color: black ; font-weight: bold; font-size:20px " href="{{ home_url }}"><strong>Home</strong><span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item {% if request.path == pproduct_list_url %}{% endif %}">
         <a class="nav-link" style="color: black ; font-weight: bold;font-size:20px" href="{{ pproduct_list_url }}"><strong>Top Products</strong></a>
      </li>
      <li class="nav-item {% if request.path == product_list_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px ;font-weight: bold" href="{{ product_list_url }}"><strong>Products</strong></a>
      </li>

     <li class="nav-item {% if request.path == contact_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ contact_url }}"><strong>Contact</strong></a>
      </li>
    <li class="nav-item {% if request.path == contact_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ contact_url }}"><strong>Help</strong></a>
      </li>
{#    <li class="nav-item {% if request.path == cart_url %}active{% endif %}" style="margin-left: 500px">#}
{#        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ cart_url }}">#}
{#                <img class="img-responsive" src="{% static "img/cart.png" %}" style="width: 20%"  class="img-fluid"/>#}
{#        </a>#}
      </li>
    <li class="nav-item {% if request.path == cart_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ cart_url }}"><strong>Orders</strong></a>
      </li>
     <li class="nav-item {% if request.path == cart_url %}{% endif %}" >

         <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ cart_url }}"><img src="{% static "img/cart.PNG" %}"><strong>Cart</strong> {{ request.session.cart_total }}</a>
      </li>

      {% if request.user.is_authenticated %}
      <li class="nav-item {% if request.path == logout_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ logout_url }}"><strong>Logout</strong></a>
      </li>
      {% else %}
      <li class="nav-item {% if request.path == login_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ register_url }}"><strong>Register</strong></a>
      </li>
      <li class="nav-item {% if request.path == login_url %}{% endif %}">
        <a class="nav-link" style="color: black ;font-size:20px; font-weight: bold" href="{{ login_url }}"><strong>Login</strong></a>
      </li>

      {% endif %}
    </ul>

  </div>
</nav>


 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

